<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Goal Tree</title>
    {% load static %}
    <link rel="icon" href="{% static 'app/images/icon.png' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'app/content/bootstrap.min.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'app/content/site.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'app/content/homePageStyle.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'app/fonts/fonts.css' %}"/>
    <script src="{% static 'app/scripts/preinstalled/modernizr-2.6.2.js' %}"></script>
    <script src="{% static 'app/scripts/preinstalled/jquery-1.10.2.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/gh/mathusummut/confetti.js/confetti.min.js"></script>

    {% if not debug %}
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-166115717-2"></script>
        <script>
            window.dataLayer = window.dataLayer || [];

            function gtag() { dataLayer.push(arguments); }

            gtag('js', new Date());
            gtag('config', 'UA-166115717-2');
        </script>
    {% endif %}

</head>

<body id="body">
{% include "./fragments/fragment-messaging.html" %}
{% include "./fragments/fragment-popup-dialog.html" %}
{% include "./fragments/fragment-announcement-dialog.html" %}
<div class="menu-bar landscape" id="menu-bar-landscape">
    <a class="home" href="{% url 'home' %}">Goal Tree</a>
    {% if user.is_authenticated %}
        <a href="{% url 'categories' %}">Categories</a>
        <a href="{% url 'dashboard' %}">Dashboard</a>
        <a href="/about/">About</a>
        <a class="right-menu" href="{% url 'logout' %}">Logout</a>
    {% else %}
        <a href="/about/">About</a>
    {% endif %}
</div>

<div class="menu-bar portrait" id="menu-bar-portrait">
    <a class="home" href="{% url 'home' %}"> {% include "./svgs/layout-HomeButton.html" %} </a>
    {% if user.is_authenticated %}
        <a href="{% url 'categories' %}"> {% include "./svgs/layout-CategoriesButton.html" %} </a>
        <a href="{% url 'dashboard' %}"> {% include "./svgs/layout-DashboardButton.html" %} </a>
        <a href="/about/"> {% include "./svgs/layout-AboutButton.html" %} </a>
        <a href="{% url 'logout' %}"> {% include "./svgs/layout-LogOutButton.html" %} </a>
    {% else %}
        <a href="/about/"> {% include "./svgs/layout-AboutButton.html" %} </a>
    {% endif %}
</div>

<div id="body-content">
    <script type="text/javascript">document.getElementById("menu-bar-portrait").onwheel = function() { return false; };</script>
    <script type="text/javascript">document.getElementById("menu-bar-landscape").onwheel = function() { return false; };</script>
    {% block content %}{% endblock %}
</div>

<script src="{% static 'app/scripts/preinstalled/bootstrap.js' %}"></script>
<script src="{% static 'app/scripts/preinstalled/respond.js' %}"></script>

<script src="{% static 'app/scripts/ts/shared/menuEntryUnderline.js' %}"></script>
<script>MenuEntryUnderline.selectCurrentMenuEntry();</script>

{% if user.is_authenticated %}
    <script src="{% static 'app/scripts/ts/Utils/UserMessagesTracker.js' %}"></script>
    <script>UserMessagesTracker.fetchStateAndShowMessageIfNecessary();</script>
{% endif %}

{% block scripts %}{% endblock %}

</body>
</html>