{% extends "app/layout.html" %}
{% load static %}

{% block content %}

<link rel="stylesheet" type="text/css" href="{% static 'app/content/site.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'app/content/dashboard.css' %}"/>

{% include "./fragments/fragment-background.html" %}

<template id="stats-canvas-template">

    <div class="stats-canvas" tag="user" data-id="{{user.pk}}">
        <div class="stats-canvas-content">
            <canvas class="chart-canvas"></canvas>
        </div>
        <div class="stats-canvas-title">
            <label>Graph Title</label>
            <div class="analysis-result-icon"></div>
        </div>
    </div>
</template>

<div class="dashboard-container" id="canvas">

    <div class="statistics-panel" tag="user" data-id="{{user.pk}}">
        <div class="statistics-panel-title">
            <label>User</label>
            <img style="display: none" class="panel-loader" src="{% static 'app/images/tail-spin.svg' %}" alt="">
            <div class="panel-analysis-result-icon"></div>
        </div>
        <div class="statistics-panel-content"></div>
    </div>

    <hr/>

    {% for category in categories|dictsort:"pk"  %}
        <div class="statistics-panel" tag="category" data-id="{{category.pk}}" data-color="{{category.canvas_color.pk}}">
            <div class="statistics-panel-title">
                <label>{{category.name}}</label>
                <img style="display: none" class="panel-loader" src="{% static 'app/images/tail-spin.svg' %}" alt="">
                <div class="panel-analysis-result-icon"></div>
            </div>
            <div class="statistics-panel-content"></div>
        </div>
    {% endfor %}
</div>

{% endblock %}

{% block scripts %}
<script src="{% static 'app/scripts/preinstalled/Chart.bundle.min.js' %}"></script>
<script src="{% static 'app/scripts/ts/board/DashboardManager.js' %}"></script>
<script src="{% static 'app/scripts/ts/board/StatsCanvas.js' %}"></script>
<script src="{% static 'app/scripts/ts/board/StatsPanel.js' %}"></script>
<script src="{% static 'app/scripts/ts/board/UserStatsPanel.js' %}"></script>
<script src="{% static 'app/scripts/ts/board/CategoryStatsPanel.js' %}"></script>
<script src="{% static 'app/scripts/ts/board/StatsExtractor/AnalysisResult.js' %}"></script>
<script src="{% static 'app/scripts/ts/board/StatsExtractor/ExperienceStatsExtractor.js' %}"></script>
<script src="{% static 'app/scripts/ts/board/StatsExtractor/HotCategoriesStatsExtractor.js' %}"></script>
<script src="{% static 'app/scripts/ts/board/StatsExtractor/NoGoalsStatsExtractor.js' %}"></script>
<script src="{% static 'app/scripts/ts/board/StatsExtractor/CompletionStatsExtractor.js' %}"></script>
<script src="{% static 'app/scripts/ts/board/StatsExtractor/DistributionStatsExtractor.js' %}"></script>
<script src="{% static 'app/scripts/ts/board/StatsExtractor/UserLevelStatsExtractor.js' %}"></script>
<script src="{% static 'app/scripts/ts/board/StatsExtractor/AdditionTrendExtractor.js' %}"></script>
<script src="{% static 'app/scripts/ts/board/StatsExtractor/CompletionTrendExtractor.js' %}"></script>
<script src="{% static 'app/scripts/ts/board/StatsExtractor/LatestGoalsExtractor.js' %}"></script>
<script src="{% static 'app/scripts/ts/shared/Color.js' %}"></script>
<script src="{% static 'app/scripts/ts/shared/ColorsManager.js' %}"></script>
<script>
    var colorsJson = '{{ colors|safe }}';
    var colors = JSON.parse(colorsJson);
    ColorsManager.initialize(colors);

    const manager = new DashboardManager();

    // blocking zoom
    document.getElementById("canvas").onwheel = function(e) {
        if (e.ctrlKey) return false;
        return true;
    };
</script>

{% endblock %}