{% extends "app/layout.html" %}
{% load static %}

{% block content %}

<link rel="stylesheet" type="text/css" href="{% static 'app/content/floatingButtons.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'app/content/toggle.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'app/content/range.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'app/content/goalTile.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'app/content/sidePanel.css' %}"/>

<label id="currentCategoryPk" hidden>{{currentCategoryPk}}</label>

{% include "./fragments/fragment-background.html" %}
{% include "./fragments/template-goal-tile.html" %}

<template id="delete-edge-template">
    <button name="del-edge-bt" class="del-edge-bt">
        {% include "./svgs/edge-DeleteButton.html" %}
    </button>
</template>

<template id="add-edge-template">
    <button name="add-edge-bt" class="add-edge-bt">
        {% include "./svgs/edge-AddButton.html" %}
    </button>
</template>

<div class="goal-canvas" id="goal-canvas">
    <svg id="lines-container" style="width: 100%; height: 100%">
    </svg>
</div>

<form id="category-settings-form">
    <div>
        {% csrf_token %}
        {% for hidden in categorySettingsForm.hidden_fields %}
        {{ hidden }}
        {% endfor %}
    </div>
</form>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

<script src="{% static 'app/scripts/ts/Utils/UserLevelTracker.js' %}"></script>
<script src="{% static 'app/scripts/ts/Utils/LiteEvent.js' %}"></script>
<script src="{% static 'app/scripts/ts/Utils/CyclesFinder.js' %}"></script>
<script src="{% static 'app/scripts/ts/Utils/Point.js' %}"></script>
<script src="{% static 'app/scripts/ts/Utils/Rectangle.js' %}"></script>
<script src="{% static 'app/scripts/ts/Utils/LinqExtensions.js' %}"></script>
<script src="{% static 'app/scripts/ts/goalTree/Experience.js' %}"></script>
<script src="{% static 'app/scripts/ts/goalTree/LineModel.js' %}"></script>

<script src="{% static 'app/scripts/ts/goalTree/edgeButtons/AddEdgeBtModel.js' %}"></script>
<script src="{% static 'app/scripts/ts/goalTree/edgeButtons/RemoveEdgeBtModel.js' %}"></script>

<script src="{% static 'app/scripts/ts/shared/Color.js' %}"></script>
<script src="{% static 'app/scripts/ts/shared/ColorsManager.js' %}"></script>

<script src="{% static 'app/scripts/ts/goalTree/Settings.js' %}"></script>
<script src="{% static 'app/scripts/ts/goalTree/CategoryModel.js' %}"></script>
<script src="{% static 'app/scripts/ts/goalTree/GoalTileModel.js' %}"></script>
<script src="{% static 'app/scripts/ts/goalTree/TemporaryGoalTileModel.js' %}"></script>
<script src="{% static 'app/scripts/ts/goalTree/EdgeModel.js' %}"></script>
<script type="text/javascript">

    var userPk = '{{userPk|safe}}';
    UserLevelTracker.initialize(userPk);

    var colorsJson = '{{ colors|safe }}';
    var colors = JSON.parse(colorsJson);
    ColorsManager.initialize(colors);

    var experienceLevels = '{{ experience_levels|safe }}'; 
    var loadedSettings = {
        categoryPk: '{{ category.pk }}',
        categoryPanX: '{{ category.panX }}',
        categoryPanY: '{{ category.panY }}',
        categoryZoom: '{{ category.scale }}',
        categoryColor: '{{ canvasColor|safe }}',
        goalsColor: '{{ goalsColor|safe }}',
        experienceLevels: JSON.parse(experienceLevels),
        moveAncestorsAlong: '{{ move_ancestors_along|safe }}'
    };
    Settings.initialize(loadedSettings);

    var goalsJson = '{{ goals|safe|escapejs }}';
    var goals = JSON.parse(goalsJson);
    var edgesJson = '{{ edges|safe }}';
    var edges = JSON.parse(edgesJson);

    var categoryPk = document.getElementById("currentCategoryPk").textContent;
    CategoryModel.initialize(categoryPk, goals, edges);

    document.getElementById("goal-canvas").onwheel = function() { return false; }
</script>
<script>
    /* Show message if the user is on mobile. */
    if (window.matchMedia("(max-width: 700px)").matches)
    {
        MessageManager.info("This page is not yet fully supported on mobile. \nI am working on it! 🛠️👨‍💻\n\nGoalTree is fully supported on desktop!");
    }

</script>

{% include "./fragments/fragment-sidePanel.html" %}

{% endblock %}