{% extends "app/layout.html" %}
{% load static %}

{% block content %}

<link rel="stylesheet" type="text/css" href="{% static 'app/content/site.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'app/content/categoryTile.css' %}"/>

{% include "./fragments/fragment-background.html" %}

<template id="category-tile-template">

    <div class="category-tile live" id="SET_ME!">

        {#LIVE-MODE#}
        <div id="category-tile-live" style="position: relative">
            <div class="category-name"></div>
            <div class="category-description"></div>
            <button class="svg-button" id="edit-category-bt">
                {% include "./svgs/category-EditButton.html" %}
            </button>
        </div>

        {#EDIT-MODE#}
        <div id="category-tile-edit" style="position: relative">
            <form id="category-edit-form-">
                {% csrf_token %}
                {{categoryForm.name}}
                {{categoryForm.description}}

                <div class="color-dropdown">
                    <label>Color:</label>
                    {{categoryForm.canvas_color}}
                </div>
                {{categoryForm.archived}}
            </form>
            <div class="category-action-buttons-container">
                <button class="svg-button" id="archive-category-bt">
                    {% include "./svgs/category-ArchiveButton.html" %}
                </button>
                <button class="svg-button" id="delete-category-bt">
                    {% include "./svgs/deleteButton.html" %}
                </button>
            </div>
        </div>
    </div>
</template>

<div class="categories-container" id="canvas">

    {% if is_archive %}
    <div class="nothing-here-message">
        <label class="nothing-here-message__title">There are no archived categories yet.</label> 
        <label class="nothing-here-message__description">You can archive all categories you want and they will appear here. <br/> Archived categories are not shown on the dashboard but still contribute to your total experience.</label> 
    </div>
    {% else %}
    <div class="nothing-here-message">
        <label class="nothing-here-message__title">There are no categories yet.</label> 
        <label class="nothing-here-message__description">Categories are used to group goals together. <br/> Each time you add a category here, a new panel will be added to the dashboard. <br/> You will find a lot of useful information there!</label> 
    </div>
    {% endif %}

    <div id="categories-placeholder" style="height: 150px"></div>
</div>

{% if not is_archive %}

<div class="fixed-buttons-container">
    <button class="fixed-svg-button" id="goto-archive-bt" onclick="location.href = '/categories/archive/'">
        {% include "./svgs/category-GotoArchiveButton.html" %}
    </button>
    <button class="fixed-svg-button" id="add-category-bt">
        {% include "./svgs/category-AddButton.html" %}
    </button>
</div>

{% endif %}


<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

<script src="{% static 'app/scripts/ts/Utils/UserLevelTracker.js' %}"></script>
<script src="{% static 'app/scripts/ts/categoryPage/CategoriesManager.js' %}"></script>
<script src="{% static 'app/scripts/ts/categoryPage/CategoryTileModel.js' %}"></script>
<script src="{% static 'app/scripts/ts/categoryPage/TemporaryCategoryTileModel.js' %}"></script>
<script src="{% static 'app/scripts/ts/shared/Color.js' %}"></script>
<script src="{% static 'app/scripts/ts/shared/ColorsManager.js' %}"></script>

<script type="text/javascript">
    var userPk = '{{userPk|safe}}';
    UserLevelTracker.initialize(userPk);

    var colorsJson = '{{ colors|safe }}';
    var colors = JSON.parse(colorsJson);
    ColorsManager.initialize(colors);

    var categoriesJson = '{{ categories|safe|escapejs }}';
    var categories = JSON.parse(categoriesJson);
    var manager = new CategoriesManager(categories);

    // blocking zoom
    document.getElementById("canvas").onwheel = function(e) {
        if (e.ctrlKey) return false;
        return true;
    };
</script>


{% endblock %}