{% extends "app/layout.html" %}
{% load static %}

{% block content %}

<link rel="stylesheet" type="text/css" href="{% static 'app/content/site.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'app/content/about.css' %}"/>

{% include "./fragments/fragment-background.html" %}

<div class="about-container" id="canvas">

    <div class="about-paragraph">
        <h2>Who is behind GoalTree?</h2>
        <span>
            GoalTree is a solo-project, started in February 2020, by Alvin Sartor.
            <br/><br/>
            I am a big fan of productivity software and, as I also love programming, I often end up building myself what I need.
            <br/>
            When I can, I share the final results.
            <br/><br/>
            My goal is to make <b>useful</b>, <b>free</b>, <b>accessible</b> software, for everyone.
        </span>
    </div>

    <div class="about-paragraph">
        <h2>What is coming next?</h2>
        <span>
            The list of features I want to see implemented is:
            <br/>
            <br/>
            <ul>
                <li>Upgrade server to support more users (current max DB space is only 100 MB 😬)</li>
                <li>Move website to my own domain</li>
                <li>Make website mobile-ready (working on it!)</li>
                <li>Add more charts to the dashboard (they're never enough!)</li>
                <li>Add a tutorial to explain basic functionality</li>
                <li>Add badges</li>
                <li>Add shortcuts</li>
                <li>Add calendar view</li>
                <li>Add deadlines</li>
                <li>Fix bugs.. Always fix bugs 🐛</li>
                <li>And much more!</li>
            </ul>
            Do you want to receive updates each time a new feature is released? You can follow the <a href="https://www.linkedin.com/showcase/goaltree">LinkedIn page</a>.
        </span>
    </div>
    
    <div class="about-paragraph">
        <h2>Do you want to help out?</h2>
        <span>
            Would you like to help the project going? That's fantastic!
            <br/>
            You can help me out paying for the website expenses or supporting
            my work going here:
            <br/><br/>
            <a class="bmc-button" target="_blank" href="https://www.buymeacoffee.com/alvin">
                <img src="https://cdn.buymeacoffee.com/buttons/bmc-new-btn-logo.svg" alt="Buy me a coffee"><span style="margin-left: 15px; font-size: 19px !important;">Buy me a coffee</span>
            </a>
            <br/><br/>
            <br/><br/>
            Alternatively, if you are cool and use Brave to surf the web, you can donate free tips through your browser, GoalTree is a recognized Brave publisher! 
            <br/>
            You don't know what Brave is? 😱 Check it out yourself by clicking here <a style="margin-left: 10px;" href="https://brave.com/goa317" alt="discover Brave">{% include "./svgs/about-BraveIcon.html" %}</a>
        </span>
    </div>
    
    <div class="about-paragraph">
        <h2>Contacts</h2>
        <span>
            Got any suggestions, hints, feedback, idea, doubt? 
            Feel free to reach me out at <a href="mailto:ananasproject@gmail.com">this address</a>.
            <br/> <br/>
            I would love to hear what you think about the website and which features you would like to see implemented!
        </span>
    </div>

    <div class="about-paragraph">
        <h2>This website would not be possible without..</h2>
        <span>
             Icons: <a href="https://www.flaticon.com/"> Flaticon</a><br/>
             Images: <a href="https://www.freepik.com/"> Freepik</a><br/>
             Hosting: <a href="https://www.alwaysdata.com/en/"> Alwaysdata</a><br/>
             Code: <a href="https://www.djangoproject.com/"> Django</a> and <a href="https://www.typescriptlang.org/"> TypeScript</a><br/>
             Genetic material: mum and dad<br/>
        </span>
    </div>

</div>


{% endblock %}