{% extends "app/layout.html" %}
{% load static %}

{% block content %}

<picture>
    <source class="background-image"
            srcset="{% static 'app/images/mobile_big.webp' %}"
            media="(max-width: 768px)"
            type="image/webp">

    <source class="background-image"
            srcset="{% static 'app/images/mobile_big.jpg' %}"
            media="(max-width: 768px)"
            type="image/webp">

    <source class="background-image"
            srcset="{% static 'app/images/desktop_big.webp' %}"
            type="image/webp">

    <img class="background-image"
         src="{% static 'app/images/mobile_big.jpg' %}"
         alt="background image"/>
</picture>


<div class="title">
    <h1> Your Goals Within Reach</h1>

    {% if not user.is_authenticated %}

    <div class="form-container" id="login-form" style="display: none">
        <form action="{% url 'login' %}" method="post" name="login-form">
            {% csrf_token %}
            <label>Welcome back!</label>
            <input type="email" id="emailSigninInput" placeholder="Email" name="username" />
            <input type="password" id="passwordSigninInput" placeholder="Password" name="password" />
            <div id="signin-errors" class="sign-errors">Make sure email and passwords are correct</div>
            <button id="login-button">Log in</button> or <a id="switch-to-signup-link">Register</a><br/>
            <a id="switch-to-forgotten-link1" class="switch-to-forgotten-link">Password forgotten?</a> 
        </form>
    </div>
    <div class="form-container" id="signup-form" style="display: none">
        <form action="{% url 'home' %}" method="post" name="signup-form">
            {% csrf_token %}
            <label>Register here</label>
            <input type="email" id="emailSignupInput" placeholder="Email" name="username" />
            <input type="password" id="password1SignupInput" placeholder="Password" name="password" />
            <div id="signup-errors" class="sign-errors">Make sure email and passwords are correct</div>
            <button id="signup-button">Sign up</button> or <a id="switch-to-login-link">Login</a><br />
            <a id="switch-to-forgotten-link2" class="switch-to-forgotten-link">Password forgotten?</a>
        </form>
    </div>
    <div class="form-container" id="forgotten-form" style="display: none">
        <form action="/password-reset/" method="post" name="forgotten-form">
            {% csrf_token %}
            <label>Password forgotten? Let's fix it</label>
            <input type="email" id="emailForgottenInput" placeholder="Email" name="email" />
            <button id="forgotten-button">Recover</button> or <a id="back-to-login-link">Never mind</a><br />
        </form>
    </div>
    <div style="margin-top: 50px">
        <button id="initialLoginBt">Log in</button>
        <button id="initialSignupBt">Sign up</button>
    </div>
    <script src="{% static 'app/scripts/ts/index/loginHandler.js' %}"></script>
    <script>
        const loginHandler = new LoginHandler();
    </script>

    {% endif %}
</div>


{% endblock %}