.category-tile {
    z-index: 2;
    display: inline-block;
    width: 350px;
    height: 150px;
    border-radius: 5px;
    background: rgb(136, 14, 79);
    color: #FFFFFF;
    text-align: left;
    cursor: pointer;
    user-select: none;
    margin: 20px;
    box-shadow: 1px 1px 5px 0px #000000;
    box-shadow: 2px 2px 3px 0px rgba(0, 0, 0, 0.45);
}

.category-tile.selected {
    border: solid #3b3b6d 1px
}

.category-tile:active {
    box-shadow: none;
    transition: box-shadow 100ms cubic-bezier(0.22, 0.61, 0.36, 1) 0s;
}
    
/* Category tile - LIVE fields */
.category-name {
    font-family: poppins-semibold;
    font-size: 25px;
    margin: 10px 20px;
}

.category-description {
    display: block;
    font-size: 15px;
    margin: 10px 20px;
}

/* Category tile - EDIT fields */

.category-name-edit {
    font-family: poppins-semibold;
    font-size: 25px;
    margin: 9px 20px 0 20px;
    max-width: 300px;
    background: transparent;
    outline: 0;
    border-width: 0 0 1px;
}

.category-desc-edit {
    display: block;
    font-size: 15px;
    margin: 6px 18px;
    max-width: 350px;
    background: transparent;
    outline: 0;
    resize: none;
    border-width: 0 0 1px;
}

.color-dropdown {
    display: table;
    font-size: 13px;
    margin: 15px 18px;
    background: transparent;
    outline: 0;
    border-width: 0 0 1px;
}
.color-dropdown select {
    max-width: 70px;
    margin-right: 5px;
    margin-left: 3px;
}
.color-dropdown label{
    margin: 0;
    display: inline;
    margin-right: 5px;
}


.svg-button {
    position: absolute;
    right: 5px;
    top: 5px;
    background: transparent;
    border: none;
    cursor: pointer;
    transition: height 200ms, width 200ms;
}

.svg-button:focus {
    outline: 0;
}

.svg-button svg {
    height: 25px;
    width: 25px;
    fill: #FFF;
}

.svg-button svg:active:hover {
    opacity: 0.8;
    transform: scale(1.1);
}

.category-action-buttons-container {
    position: absolute;
    display: flex;
    flex-direction: row;
    bottom: 0;
    right: 5px;
}

.category-action-buttons-container .svg-button {
    position: relative;
}


/* edit / live visibility */
.category-tile.live #category-tile-live {
    display: block;
}

.category-tile.live #category-tile-edit {
    display: none;
}

.category-tile.edit #category-tile-live {
    display: none;
}

.category-tile.edit #category-tile-edit {
    display: block;
}


/* Nothing here messge */

.nothing-here-message {
    display: none;
    flex-direction: column;
    align-items: center;
    position: absolute;
    width: 100%;
    top: 15%;
    text-align: center;
    color: #05456f;
}

.nothing-here-message__title {
    font-family: poppins-semibold;
    font-size: 40px;
    margin: 25px;
    max-width: 80vw;
}

.nothing-here-message__description {
    font-family: roboto;
    font-size: 18px;
    margin: 15px;
    font-weight: normal;
    max-width: 80vw;

}