
/* Common between dialogs */

.dialog-container {
    display: none;
    z-index: 1000;
    position: fixed;
    width: 100%;
    height: 100%;
}

.custom-outer-dialog {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.custom-dialog {
    font-family: roboto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    background: white;
    box-shadow: 1px 1px 5px 0px #000000;
    box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, 0.45);
}


.dialog-buttons {
    width: 80%;
    margin: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.dialog-buttons button {
    width: 100px;
    height: 30px;
    border-radius: 5px;
    background-color: #42a5f5;
    color: #ffffff;
    border: none;
    outline: none;
    box-shadow: 1px 1px 5px 0 #000000;
    box-shadow: 2px 2px 3px 0 rgba(0, 0, 0, 0.45);
    animation: shadow 200ms;
}

.dialog-buttons button:active {
    box-shadow: none;
}

.dialog-buttons button:focus {
    background-color: #81d4fa;
}

/* Popup dialog */

.custom-dialog.popup-dialog {
    width: 350px;
    max-width: 85vw;
}

.dialog-text {
    margin: 20px;
}

/* Announcement dialog */

.custom-dialog.announcement-dialog {
    width: 85vw;
    max-width: 500px;
    height: 70vh;
    max-height: 650px;
    justify-content: space-between;
    padding: 15px;
}

.announcement-dialog-title-span {
    font-family: poppins-semibold;
    font-size: 25px;
    margin: 10px;
    text-align: center;
}

.announcement-dialog-text {
    font-size: 15px;
    padding: 15px;
}