.special-page-container {
    display: flex;
    flex-direction: column;
    position: absolute;
    height: 90%;
    width: 100%;
    bottom: 0;
    align-items: center;
    justify-content: center;
    text-align: center;
    box-shadow: inset 0 1px 5px 0 rgba(0, 0, 0, 0.5);
}

.special-page-paragraph {
    margin: 25px;
}

.special-page-paragraph h2 {
    color: #05456f;
    font-size: 60px;
    font-family: poppins-semibold;
    margin-bottom: 25px;
    margin-top: 60px;
    white-space: pre-wrap;
}

.special-page-paragraph span {
    font-family: roboto;
    font-size: 15px;
    white-space: pre-wrap;
}