.dashboard-container {
    font-family: poppins-semibold;
    position: absolute;
    height: 90%;
    width: 100%;
    bottom: 0;
    overflow-y: scroll;
    overflow-x: hidden;
    padding: 15px;
    padding-top: 50px;
    box-shadow: inset 0 1px 5px 0 rgba(0, 0, 0, 0.5);
}

/* Statistics Panel */

.statistics-panel {
    position: relative;
    width: auto;
    height: auto;
    border-radius: 10px;
    user-select: none;
    margin: 30px 15px;
    box-shadow: 1px 1px 5px 0 #000000;
    box-shadow: 2px 2px 3px 0 rgba(0, 0, 0, 0.35);
}

@media only screen and (max-width: 768px) {
    .statistics-panel {
        margin: 20px 0;
    }

}

.statistics-panel-title {
    position: absolute;
    top: 0;
    z-index: 5;
    width: 100%;
    height: 80px;
    color: #242424;
    display: flex;
    align-items: center;
    border-radius: 10px;
    box-shadow: 0 1px 5px 0 #000000;
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.35);
}

.statistics-panel-title label {
    margin: 20px;
    font-size: 25px;
}

.statistics-panel-content {
    padding-top: 80px;
    border-radius: 10px;
    width: 100%;
    height: auto;
    display: grid;
    max-height: 0;
    transition: height 50ms;
    grid-template-columns: repeat(auto-fill, minmax(200px, 450px));
}

.panel-loader {
    position: absolute;
    right: 20px;
    width: 30px;
}


/* Statistics Piece of Data */

.stats-canvas {
    position: relative;
    width: auto;
    height: 300px;
    margin: 15px;
    border-radius: 10px;
    user-select: none;
    box-shadow: 1px 1px 5px 0 #000000;
    box-shadow: 2px 2px 3px 0 rgba(0, 0, 0, 0.35);
}

.stats-canvas-title {
    position: absolute;
    z-index: 5;
    top: 0;
    width: 100%;
    height: 50px;
    color: #242424;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f4f6f8;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.stats-canvas-title label {
    color: #343434;
    font-size: 15px;
    margin: 0;
}

.stats-canvas-content {
    font-family: "roboto";
    padding: 10px;
    padding-top: 60px;
    border-radius: 10px;
    width: 100%;
    height: 100%;
    background: #fff;
}

.chart-canvas {
    height: 100%;
    width: 100%;
}



.progressbar {
    border: 1px solid #BBB;
    border-radius: 13px;
    padding: 3px;
}

.progressbar > div {
    background-color: #ffa726;
    height: 10px;
    transition: width 500ms;
    border-radius: 10px;
}

.experience-canvas {
    margin: 10px;
}

.experience-block {
    margin: 5px;
}

.font-weight-normal label {
    font-weight: normal;
}

.experience-block.level {
    font-weight: bold;
    font-size: 25px;
}

/* Canvas messages */

.analysis-result-icon {
    position: absolute;
    right: 10px;
}

.analysis-result-icon svg {
    height: 25px;
}

.panel-analysis-result-icon {
    position: absolute;
    right: 20px;
}

.panel-analysis-result-icon svg {
    height: 30px;
}

.tooltip-block {
    font-family: "roboto";
    white-space: pre-wrap;
    visibility: hidden;
    width: 50vw;
    max-width: 350px;
    background-color: #000000;
    background-color: rgba(0, 0, 0, 0.875);
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 10px;
    position: absolute;
    z-index: 55;
    right: 110%;
}

.analysis-result-icon:hover .tooltip-block {
    visibility: visible;
}

.panel-analysis-result-icon:hover .tooltip-block {
    visibility: visible;
}

.tooltip-block-title {
    font-family: poppins-semibold;
}

.no-chart-canvas {
    justify-content: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    height: 100%;
}

/* Latest completed goals */

.latest-completed-canvas {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 300px;
    width: 420px;
}

.completed-goal-tile {
    font-family: poppins-semibold;
    border-radius: 5px;
    background: rgb(136, 14, 79);
    color: #FFFFFF;
    text-align: left;
    user-select: none;
    margin: 2px;
    padding: 5px;
    width: 195px;
    overflow-wrap: break-word;
    word-wrap: break-word;
    box-shadow: 1px 1px 5px 0 #000000;
    box-shadow: 2px 2px 3px 0 rgba(0, 0, 0, 0.45);
}