/*Delete Edge Button*/

.del-edge-bt {
    z-index: 15;
    padding: 0;
    border: none;
    background: none;
    cursor: pointer;
    display: table-cell;
    position: absolute;
}

.del-edge-bt svg {
    width: 20px;
    height: 20px;
    opacity: 0.5;
    transform: scale(0.001);
    transition: transform 200ms;
}

.del-edge-bt.bt-active svg {
    opacity: 1;
    transform: scale(1);
}

.del-edge-bt:focus {
    outline: 0;
}

/*Add Connection Button*/

.add-edge-bt {
    z-index: 15;
    padding: 0;
    border: none;
    background: none;
    cursor: pointer;
    display: block;
    position: absolute;
}

.add-edge-bt svg {
    width: 20px;
    height: 20px;
    opacity: 0.5;
    transform: scale(0.001);
    transition: transform 200ms;
}

.add-edge-bt.bt-active svg {
    opacity: 1;
    transform: scale(1);
}

.add-edge-bt svg:active:hover {
    opacity: 1;
    transform: scale(1.25);
}

.add-edge-bt:focus {
    outline: 0;
}