.cloned-goal-tile {
    font-family: poppins;
    display: inline-block;
    width: 100%;
    margin-top: 8px;
    height: min-content;
    border-radius: 5px;
    background: rgb(136, 14, 79);
    color: #FFFFFF;
    text-align: left;
    cursor: pointer;
    user-select: none;
    padding: 5px;
    transform-origin: top left;
    transition: box-shadow 200ms cubic-bezier(0.22, 0.61, 0.36, 1) 0s;
    box-shadow: 1px 1px 5px 0 #000000;
    box-shadow: 2px 2px 3px 0 rgba(0, 0, 0, 0.45);
}

.goal-tile {
    font-family: poppins;
    position: absolute;
    z-index: 10;
    display: inline-block;
    width: 300px;
    height: min-content;
    border-radius: 5px;
    background: rgb(136, 14, 79);
    color: #FFFFFF;
    text-align: left;
    cursor: grab;
    user-select: none;
    padding: 5px;
    transform-origin: top left;
    transition: box-shadow 200ms cubic-bezier(0.22, 0.61, 0.36, 1) 0s; 
    box-shadow: 1px 1px 5px 0 #000000;
    box-shadow: 2px 2px 3px 0 rgba(0, 0, 0, 0.45);
}

.goal-tile.edit {
    z-index: 11;
    cursor: text;
}

.goal-tile.selected {
    border: solid #3b3b6d 1px
}

.goal-tile.live:active, .goal-tile-active {
    cursor: grabbing;
    box-shadow: 1px 1px 6px 0 #000000;
    box-shadow: 3px 3px 6px 2px rgba(0, 0, 0, 0.45);
}

/* Goal tile - LIVE fields */

.goal-title {
    font-family: poppins-semibold;
    font-size: 25px;
    margin: 0 10px;
    max-width: 85%;
}

.goal-description {
    font-family: roboto;
    display: block;
    font-size: 15px;
    margin: 8px 10px;
    white-space: pre-wrap;
}

.goal-additional-details {
    font-family: roboto;
    display: block;
    font-size: 13px;
    margin: 0 10px;
}

/* Goal tile - EDIT fields */

.goal-title-edit {
    font-family: poppins-semibold;
    font-size: 25px;
    margin: 0 10px;
    max-width: 80%;
    background: transparent;
    outline: 0;
    border-width: 0 0 1px;
}

.goal-description-edit {
    font-family: roboto;
    display: block;
    font-size: 15px;
    margin: 4px 8px 0 8px;
    max-width: 290px;
    background: transparent;
    outline: 0;
    border-width: 0 0 1px;
}

.goal-widgets-edit {
    display: flex;
    align-items: center;
    margin: 10px 10px 0 10px;
}

.delete-goal-bt {
    background: transparent;
    border: none;
    position: absolute;
    right: 5px;
    bottom: 5px;
    cursor: pointer;
}

.delete-goal-bt:focus {
    outline: 0;
}

.delete-goal-bt svg {
    height: 30px;
    width: 30px;
    fill: #FFF;
}


.pin-goal-bt {
    background: transparent;
    border: none;
    position: absolute;
    right: 5px;
    top: 5px;
    cursor: pointer;
    padding: 1px 6px;
}

.pin-goal-bt:focus {
        outline: 0;
    }

.pin-goal-bt svg {
        height: 27px;
        width: 27px;
        fill: #FFF;
    }

/* edit / live visibility */

.goal-tile.live .goal-tile-live {
    display: block;
}

.goal-tile.live .goal-tile-edit {
    display: none;
}

.goal-tile.edit .goal-tile-live {
    display: none;
}

.goal-tile.edit .goal-tile-edit {
    display: block;
}