/* Index Title */

.title {
    position: absolute;
    top: 8%;
    right: 8%;
    width: 500px;
    text-align: center;
    height: 100%;
    overflow-y: auto;
}

.title h1 {
    font-size: 80px;
    margin: 10px;
    color: #05456f;
    font-family: poppins-semibold;
    user-select: none;
}

.title button {
    z-index: 1;
    color: white;
    background: #05456f;
    border: none;
    margin: 10px;
    height: 40px;
    width: 100px;
    border-radius: 50px;
    font-size: 17px;
    opacity: 1;
    outline-style: none;
}

.title button:hover {
    background: #00549f
}

.title .form-container {
    z-index: 1;
    display: inline-block;
    width: 300px;
    border: 1px solid #05456f;
    border-radius: 20px;
    padding: 20px;
    position: relative;
    margin: 20px;
    font-size: 17px;
}

.title .form-container label {
    font-size: 22px;
    user-select: none;
    color: #05456f;
    margin: 10px;
}

.title .form-container a {
    user-select: none;
    color: #05456f;
}

.background-tile {
    pointer-events: none;
    position: absolute;
    z-index: 0;
    height: 100%;
    width: 100%;
    background: #fff;
    border-radius: 20px;
    opacity: 0.2;
    left: 0;
    top: 0;
}

.title input {
    height: 35px;
    width: 95%;
    display: block;
    margin: 10px;
}

.sign-errors {
    color: #b94a48;
    font-size: 15px;
    font-style: italic;
}

.switch-to-forgotten-link {
    font-size: 15px;
}
/* Background image */
.background-image {
    position: absolute;
    top: 0;
    height: 100%;
}

@media only screen and (max-width: 768px) {
    .background-image {
        width: 100%;
    }

    .title {
        right: 0;
        width: 100%;
        height: auto;
    }

    .title h1 {
        font-size: 50px;
    }
}