.messages-container {
    z-index: 999;
    position: fixed;
    right: 20px;
    top: 50px;
}

.message {
    position: relative;
    right: -300px;
    opacity: 1;
    width: 250px;
    min-height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: roboto;
    margin: 5px;
    border-radius: 10px;
    font-size: 15px;
    padding: 5px;
    box-shadow: 1px 1px 5px 1px #000000;
    box-shadow: 1px 1px 4px 1px rgba(0, 0, 0, 0.45);
    transition: all 300ms;
    animation-duration: 5s;
    animation-name: fade;
    white-space: pre-wrap;
}

@keyframes fade {
    0% {
        right: 0;
        opacity: 0;
    }
    5% {
        opacity: 1;
    }
    75% {
        opacity: 1;
        right: 0;
    }
    to {
        opacity: 0;
        right: -300px;
    }
}

.message-success {
    background: #81c784;
    color: #fff;
}

.message-warning {
    background: #ffd54f;
    color: #343434;
}

.message-error {
    background: #e57373;
    color: #fff;
}

.message-info {
    background: #29b6f6;
    color: #343434;
}