.slider {
    -webkit-appearance: none;
    width: 124px;
    height: 10px;
    border-radius: 5px;
    background: #EEE;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #AAA;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #AAA;
    cursor: pointer;
}

.range-result {
    margin-left: 25px;
}