
.goal-buttons-container {
    z-index: 99;
    position: fixed;
    left: 2.5%;
    bottom: 2.5%;
    background: transparent;
    border: #05456f 1px solid;
    border-radius: 5px;
    display: flex;
    justify-content: center;
}

.side-panel {
    z-index: 99;
    position: fixed;
    right: 0.5%;
    top: 11.5%;
    height: 87%;
    width: 300px;
    background: #ffffff;
    background: rgba(256, 256, 256, 0.25);
    border: #b4eafa 1px solid;
    border-radius: 5px;
    box-shadow: 1px 1px 5px 0 #000000;
    box-shadow: 2px 2px 3px 0 rgba(0, 0, 0, 0.45);
    padding: 2px;
}

.side-panel-drag-button {
    position: absolute;
    top: 50%;
    left: -10px;
    width: 20px;
    height: auto;
    display: none;
    height: 70px;
    background: transparent;
    border: #b4eafa 1px solid;
}

.side-panel-drag-button:active:hover svg {
    fill: #b4eafa;
}

.side-panel-drag-button:focus {
    outline: 0;
}

.side-panel-drag-button svg {
    position: absolute;
    height: 35px;
    left: -9px;
    top: 16px;
    fill: #05456f;
}

@media only screen and (max-width: 768px) {
    .side-panel {
        right: -280px;
    }

    .side-panel-drag-button {
        display: block;
    }
}

 /* Individual panels */

.side-panel-menu-accordion {
    font-family: poppins-semibold;
    color: #444;
    cursor: pointer;
    padding: 5px 15px;
    width: 100%;
    border: none;
    outline: none;
    text-align: left;
    font-size: 15px;
    color: #ffffff;
    background-color: #05456f;
    border-radius: 5px;
}

.side-panel-active {
    background-color: #00539e;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.side-panel-menu-accordion:hover {
    background-color: #00539e;
}

.side-panel-menu-accordion:after {
    color: #777;
    float: right;
    margin-left: 5px;
}

.side-panel-menu {
    padding: 0 5px;
    background: #ffffff;
    background: rgba(256, 256, 256, 0.25);
    height: 0;
    overflow: hidden;
    overflow-y: auto;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}


/* Journal Panel */



.journal-entry {
    position: relative;
    margin: 5px 0;
    min-height: 90px;
    padding: 10px;
    border-radius: 5px;
    background-color: #FFF;
    box-shadow: 1px 1px 5px 0 #000000;
    box-shadow: 2px 2px 3px 0 rgba(0, 0, 0, 0.45);
}

.journal-entry-text {
    margin-bottom: 25px;
    white-space: pre-wrap;
}

.journal-entry-bottom {
    position: absolute;
    bottom: 2px;
    font-size: 13px;
    color: #888;
    user-select: none;
}

.journal-entry-bottom label {
    margin: 2px;
}

.journal-entry-action {
    font-weight: bold;
}

.journal-entry-action:hover {
    text-decoration: underline;
    cursor: pointer;
}

.journal-entry-date {
    left: 5px;
    font-style: italic;
    font-weight: normal;
    font-size: 10px;
}

textarea {
    background: transparent;
    outline: 0;
    border-width: 0 0 1px;
    width: 100%;
    resize: vertical;
    margin-bottom: 25px;
}

.journal-add-entry-button {
    width: 100px;
    height: 30px;
    margin: 15px;
    border-radius: 5px;
    background-color: #00539e;
    color: #ffffff;
    border: none;
    outline: none;
    box-shadow: 1px 1px 5px 0 #000000;
    box-shadow: 2px 2px 3px 0 rgba(0, 0, 0, 0.45);
}

.no-elements-message {
    margin: 40px 10px;
    text-align: center;
    font-family: roboto;
    font-style: italic;
    color: #888888;
}


/* Controls panel */

.controls-button {
    padding: 0;
    border: none;
    background: none;
    cursor: pointer;
    display: table-cell;
    transition: all 200ms;
}

.controls-button svg {
    width: 35px;
    height: 35px;
}

.controls-button svg:active:hover {
    opacity: 0.8;
    transform: scale(1.1);
}

.controls-button:focus {
    outline: 0;
}

.control-buttons-container {
    margin: 2.5px;
    padding: 5px 10px;
    border-radius: 10px;
    background-color: #c8c8c8;
    background-color: rgba(255, 255, 255, 0.8);
}

.control-buttons-container-text {
    font-family: roboto;
    font-weight: normal;
}

.control-buttons-container-title {
    font-family: poppins-semibold;
    font-weight: bold;
    text-decoration: underline;
    margin: 0;
}

.controls-row {
    margin-top: 5px; 
    display: flex;
    flex-direction: row;
    align-items: center;
}
