.toggle-input {
    height: 0;
    width: 0;
    visibility: hidden;
}

.toggle-label {
    cursor: pointer;
    text-indent: -9999px;
    width: 60px;
    height: 30px;
    background: #EEE;
    display: block;
    border-radius: 100px;
    position: relative;
    display: inline-block;
}

.side-panel-checkbox-label {
    background: #EFEFEF
}

.toggle-label:after {
    content: '';
    position: absolute;
    top: 5px;
    left: 5px;
    width: 20px;
    height: 20px;
    background: #AAA;
    border-radius: 50%;
    transition: 0.25s;
    opacity: 1;
}

.toggle-input:checked + .toggle-label:after {
    left: calc(100% - 5px);
    transform: translateX(-100%);
    opacity: 1;
    background: #AAA;
}

.toggle-input.side-panel-checkbox:checked + .toggle-label:after {
    background: #7dd1f0;
}