/********************* Colour reference chart****************
*************************** comment ********* colour ******** 

    blues (darkest to lightest):

        c7:         #05456f;
        c6:         #00549f;
        c5:         #00539e;
        c4:         #006cb8;
        c3:         #008fd7;
        c2:         #00aaec;
        c1:         #b4eafa;

    greens (darkest to lightest):

        d2:         #00c6ae;
        d1:         #00f6e7;
    
    other:
        
        buttons:    #7dd1f0;
        error:      #b94a48;

*/


body {
    overflow-x: hidden;
    overflow-y: hidden;
    font-family: roboto;
    touch-action: none;
    background-color: rgb(180, 235, 251);
}

/* Set padding to keep content from hitting the edges */

body-content {
    padding-left: 5px;
    padding-right: 5px;
}

/* styles for validation helpers */

.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}

/*container for horizontally placed controls*/

.arrow-button {
    width: 50px;
    height: 50px;
    padding: 0;
    border: none;
    background: none;
    cursor: pointer;
    display: table-cell;
    margin: 20px;
}

.arrow-button svg {
    width: 30px;
    height: 30px;
}

.arrow-button:disabled {
    fill: #d8d8d8;
}

.arrow-button:hover:enabled {
    transform: scale(1.15);
    fill: #551199;
}

.arrow-button:focus {
    outline: 0;
}

.goal-canvas {
    position: absolute;
    display: block;
    height: 90%;
    width: 100%;
    bottom: 0;
    overflow: hidden;
    transform-origin: top left;
    box-shadow: inset 0 1px 5px 0 rgba(0, 0, 0, 0.5);
}

.categories-container {
    position: absolute;
    display: grid;
    grid-template-columns: repeat(auto-fill, 400px);
    grid-auto-rows: 190px;
    height: 90%;
    width: 100%;
    bottom: 0;
    overflow-y: scroll;
    overflow-x: hidden;
    justify-content: center;
    padding: 15px;
    padding-top: 50px;
    box-shadow: inset 0 1px 5px 0 rgba(0, 0, 0, 0.5);
}

.fixed-buttons-container {
    position: fixed;
    display: flex;
    flex-direction: row;
    bottom: 5%;
    right: 5%;
    z-index: 99;
}

.fixed-svg-button {
    background: transparent;
    border: none;
    cursor: pointer;
    transition: transform 200ms;
}

.fixed-svg-button:focus {
    outline: 0;
}

.fixed-svg-button svg:active:hover {
    opacity: 0.8;
    transform: scale(1.1);
}

.fixed-svg-button svg {
    height: 80px;
    width: 80px;
}

/* Menu Bar */

.menu-bar {
    top: 0;
    position: absolute;
    z-index: 99;
    height: 60px;
    width: 100%;
    font-family: poppins-semibold;
    display: inline-flex;
    overflow-x: hidden;
    overflow-y: hidden;
}

.menu-bar.landscape {
    padding-left: 50px;
    align-items: baseline;
    text-transform: uppercase;
}

.menu-bar.landscape a {
    user-select: none;
    margin: 15px 25px;
    font-size: 20px;
    text-decoration: none;
    color: #05456f;
}

.menu-bar.landscape a.right-menu {
    position: absolute;
    right: 25px;
    margin: 15px 25px;
}

.menu-bar.landscape a.selected {
    text-decoration: underline;
}

    .menu-bar.landscape a:hover {
        color: #006cb8;
    }

.menu-bar-landscape a.home {
    font-size: 28px;
}


.menu-bar.portrait {
    height: auto;
    position: fixed;
    margin-top: 20px;
    display: none;
    justify-content: space-evenly;
    align-items: center;
    text-transform: uppercase;
}

.menu-bar.portrait a.selected svg {
    fill: #008fd7;
}

.menu-bar.portrait svg {
    height: 35px;
    width: 35px;
    fill: #05456f;
}

.menu-bar.portrait svg:hover {
    fill: #008fd7;
}

@media only screen and (max-width: 768px) {
    .menu-bar.landscape {
        display: none;
    }
    .menu-bar.portrait {
        display: flex;
    }
}

.progressbar {
    background-color: white;
    border-radius: 13px;
    /* (height of inner div) / 2 + padding */
    padding: 3px;
}

.progressbar > div {
    background-color: orange;
    width: 40%;
    height: 20px;
    border-radius: 10px;
}