{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'app/content/customDialog.css' %}"/>

<div class="dialog-container">
    <div class="custom-outer-dialog">
        <div class="custom-dialog popup-dialog">
            <div class="dialog-text">
                <span id="dialog-text-span">Dialog text</span>
            </div>
            <div class="dialog-buttons">
                <button id="dialog-ok-button">Ok</button>
                <button id="dialog-cancel-button">Cancel</button>
            </div>
        </div>
    </div>
</div>

<script src="{% static 'app/scripts/ts/Utils/dialogs/PopupDialog.js' %}"></script>