<!DOCTYPE html>
{% load static %}

<template id="side-panel-menu-template">
    <div name="side-menu" style="margin: 2px 0;">
        <button class="side-panel-menu-accordion"> </button>
        <div class="side-panel-menu"> </div>
    </div>
</template>

<!-- Journal panel -->

<template id="journal-template">
    <div name="journal">
        <div name="journal-entries-container">
            <div class="no-elements-message" style="display: none">
                There are no entries yet...
            </div>
        </div>
        <div style="display: flex; justify-content: flex-end">
            <button class="journal-add-entry-button" name="add-entry-bt">Add Entry</button>
        </div>
    </div>
</template>

<template id="journal-entry-template">
    <div name="journal-entry" class="journal-entry">

        <div name="live">
            <div name="journal-entry-text" class="journal-entry-text"></div>
            <div class="journal-entry-bottom">
                <label name="editAction" class="journal-entry-action">Edit</label>
                <label name="deleteAction" class="journal-entry-action">Delete</label>
                <label class="journal-entry-date"></label>
            </div>
        </div>

        <div name="edit">
            <textarea name="text"></textarea>
            <div class="journal-entry-bottom">
                <label name="saveAction" class="journal-entry-action">Save</label>
                <label name="cancelAction" class="journal-entry-action">Cancel</label>
            </div>
        </div>
    </div>
</template>

<!-- Pinned Goals panel -->

<template id="pinned-goals-template">
    <div name="pinned-board">
        <div name="pinned-goals-container">
            <div class="no-elements-message">
                There are no pinned goals...
                <br/>
                <br/>
                To pin a goal, just double-click it and toggle the pin icon.
                <br/>
                It will automatically appear here.
            </div>
        </div>
    </div>
</template>


<!-- Controls panel -->

<template id="controls-template">
    <div name="controls">
        <div name="controls-container">

            <div class="control-buttons-container">
                <label class="control-buttons-container-title">Pan</label><br/>

                <div class="controls-row">
                    <label class="control-buttons-container-text">Current pan:&nbsp;</label>
                    <label class="control-buttons-container-text" id="CurrentPan-label">[#;#]</label>

                    <div style="margin-left: auto">
                        <button class="controls-button" id="reset-pan-bt">
                            {% include "../svgs/goals-ResetPanButton.html" %}
                        </button>
                    </div>
                </div>
            </div>

            <div class="control-buttons-container">
                <label class="control-buttons-container-title">Zoom</label><br/>

                <div class="controls-row">
                    <label class="control-buttons-container-text">Current zoom:&nbsp;</label>
                    <label class="control-buttons-container-text" id="CurrentZoom-label">#</label>

                    <div style="margin-left: auto">
                        <button class="controls-button" id="increase-zoom-bt">
                            {% include "../svgs/goals-IncreaseZoomButton.html" %}
                        </button>
                        <button class="controls-button" id="reset-zoom-bt">
                            {% include "../svgs/goals-ResetZoomButton.html" %}
                        </button>
                        <button class="controls-button" id="decrease-zoom-bt">
                            {% include "../svgs/goals-DecreaseZoomButton.html" %}
                        </button>
                    </div>
                </div>
            </div>

            <div class="control-buttons-container">
                <label class="control-buttons-container-title">Edge Mode</label><br/>

                <div class="controls-row">
                    <label class="control-buttons-container-text">Edge mode:&nbsp;</label>
                    <label class="control-buttons-container-text" id="CurrentEdgeMode-label">OFF</label>

                    <div style="margin-left: auto">
                        <input type="checkbox" id="edge-mode-checkbox" class="toggle-input side-panel-checkbox" />
                        <label class="toggle-label side-panel-checkbox-label" for="edge-mode-checkbox">Switch</label>
                    </div>
                </div>
            </div>
            
            <div class="control-buttons-container">
                <label class="control-buttons-container-title">Other settings</label><br />

                <div class="controls-row">
                    <label class="control-buttons-container-text">Goals color</label>
                    <div style="margin-left: auto">
                        <select name="goals-color"></select>
                    </div>
                </div>
                <div class="controls-row">
                    <label class="control-buttons-container-text">Move Ancestors Along</label>
                    <div style="margin-left: auto">
                        <input type="checkbox" id="move-along-checkbox" class="toggle-input side-panel-checkbox" />
                        <label class="toggle-label side-panel-checkbox-label" for="move-along-checkbox">Switch</label>
                    </div>
                </div>
                <div class="controls-row">
                    <label class="control-buttons-container-text">Show again tutorial</label>
                    <div style="margin-left: auto">
                        <button class="controls-button" id="show-tutorial-bt">
                            {% include "../svgs/goals-ShowTutorialButton.html" %}
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>


{% csrf_token %}
<div class="side-panel">
    <button class="side-panel-drag-button">
        {% include "../svgs/sidePanel-DragButton.html" %}
    </button>
</div>

<script src="{% static 'app/scripts/ts/goalTree/sidepanel/SidePanel.js' %}"></script>
                                                    
<script src="{% static 'app/scripts/ts/goalTree/sidepanel/SidePanelJournal.js' %}"></script>
<script src="{% static 'app/scripts/ts/goalTree/sidepanel/journal/JournalEntry.js' %}"></script>
                                                    
<script src="{% static 'app/scripts/ts/goalTree/sidepanel/SidePanelPinnedGoals.js' %}"></script>
<script src="{% static 'app/scripts/ts/goalTree/sidepanel/pinned/PinnedGoal.js' %}"></script>
                                                    
<script src="{% static 'app/scripts/ts/goalTree/sidepanel/SidePanelControls.js' %}"></script>
<script src="{% static 'app/scripts/ts/goalTree/sidepanel/SidePanelManager.js' %}"></script>

<script>
    var categoryPk = document.getElementById("currentCategoryPk").textContent;
    var sidePanelManager = new SidePanelManager(categoryPk);
</script>