{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'app/content/customDialog.css' %}"/>

<div id="announcement-dialog-container" class="dialog-container">
    <div class="custom-outer-dialog">
        <div class="custom-dialog announcement-dialog">
            <span class="announcement-dialog-title-span">Dialog title</span>
            <div class="announcement-dialog-text"></div>
            <div class="dialog-buttons">
                <button id="dialog-ok-button">Ok</button>
            </div>
        </div>
    </div>
</div>

<script src="{% static 'app/scripts/ts/Utils/dialogs/AnnouncementsDialog.js' %}"></script>