{% load static %}

<picture>
    <source class="background-image"
            srcset="{% static 'app/images/clean_desktop_big.webp' %}"
            media="(min-width: 768px)"
            type="image/webp">

    <source class="background-image"
            srcset="{% static 'app/images/clean_mobile_big.webp' %}"
            media="(max-width: 768px)"
            type="image/webp">

    <source class="background-image"
            srcset="{% static 'app/images/clean_mobile_big.jpg' %}"
            media="(max-width: 768px)"
            type="image/webp">

    <img class="background-image"
         src="{% static 'app/images/clean_mobile_big.jpg' %}"
         alt="background image"/>
</picture>