{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'app/content/messages.css' %}"/>

<div class="messages-container">
</div>

<template id="message-template">
    <div class="message">
        <span></span>
    </div>
</template>

<script src="{% static 'app/scripts/ts/Utils/MessageManager.js' %}"></script>