<template id="goal-tile-template">
    <div class="goal-tile live" id="SET_ME!">

        {#LIVE-MODE#}
        <div class="goal-tile-live">
            <div name="goal-title" class="goal-title"> </div>
            <div name="goal-description" class="goal-description"> </div>
            <div name="goal-experience" class="goal-additional-details"> </div>
            <div class="pin-goal-bt"> {% include "../svgs/goals-PinButton.html" %} </div>
        </div>

        {#EDIT-MODE#}
        <div class="goal-tile-edit">
            <form id="goal-edit-form"> <!-- this id is made unique when goal is initialized -->
                {% csrf_token %}
                {{goalForm.title}}
                {{goalForm.description}}
                <div class="goal-widgets-edit">
                    <label style="margin-right: 10px">Experience: </label>       
                    <input class="slider" name="experience-range" type="range" min="1" max="10" step="1" value="1">
                    <span class="range-result">1</span>
                </div>
                <div class="goal-widgets-edit">
                    <label style="margin-right: 10px">Completed: </label>
                    {{goalForm.completed}}
                    <label class="toggle-label" for="switch">Switch</label>
                </div>

                {% for hidden in goalForm.hidden_fields %}
                {{ hidden }}
                {% endfor %}
                {{goalForm.pinned}} {# Also hidden #}
            </form>
            <button class="delete-goal-bt">
                {% include "../svgs/deleteButton.html" %}
            </button>
            <button class="pin-goal-bt">
                {% include "../svgs/goals-PinButton.html" %}
            </button>
        </div>
    </div>
</template>