@font-face {
    font-family: 'poppins';
    font-style: normal;
    font-weight: normal;
    src: local('poppins'), url('./Poppins-Regular.ttf') format("truetype");
}

@font-face {
    font-family: 'poppins-semibold';
    font-style: normal;
    font-weight: bold;
    src: local('poppins-semibold'), url('./Poppins-SemiBold.ttf') format("truetype");
}

@font-face {
    font-family: 'roboto';
    font-style: normal;
    font-weight: normal;
    src: local('roboto'), url('./Roboto-Regular.ttf') format("truetype");
}

