{% extends "app/layout.html" %}
{% load static %}

{% block content %}

<link rel="stylesheet" type="text/css" href="{% static 'app/content/site.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'app/content/customPages.css' %}"/>

{% include "./app/fragments/fragment-background.html" %}

<div class="special-page-container" id="canvas">

    <div class="special-page-paragraph">
        <h2>404<br/>Page not found</h2>
        <span>This content has been removed or it is inaccessible.</span>
    </div>

    <div class="special-page-paragraph">
        <img width="300px" src="https://i.imgur.com/v3F5sh4.png" alt="empty-category" />
    </div>
</div>

{% endblock %}
