{% extends "app/layout.html" %}
{% load static %}

{% block content %}

<link rel="stylesheet" type="text/css" href="{% static 'app/content/site.css' %}"/>
<link rel="stylesheet" type="text/css" href="{% static 'app/content/customPages.css' %}"/>

{% include "./app/fragments/fragment-background.html" %}

<div class="special-page-container" id="canvas">

    <div class="special-page-paragraph">
        <h2>500<br/>Internal error</h2>
        <span>
            It is us, not you.
            If the error keeps happening, send us an <a href="mailto:ananasproject@gmail.com">email</a>.
        </span>
    </div>

    <div class="special-page-paragraph">
        <img width="300px" src="https://i.imgur.com/4EZ6JfR.png" alt="empty-category" />
    </div>
</div>

{% endblock %}
