﻿<svg height="512pt" viewBox="0 0 512 512" width="512pt" xmlns="http://www.w3.org/2000/svg">
    <path d="m512 256c0 141.386719-114.613281 256-256 256s-256-114.613281-256-256 114.613281-256 256-256 256 114.613281 256 256zm0 0" fill="#7DD2F0"/>
    <path style="opacity: 0.1;" d="M57.825,256c0-131.607,99.318-240.001,227.088-254.365 C275.42,0.568,265.777,0,256,0C114.615,0,0,114.615,0,256s114.615,256,256,256c9.777,0,19.42-0.568,28.912-1.635 C157.143,496.001,57.825,387.607,57.825,256z"/>
    <g fill="#ffffff" transform="translate(88,88)">
        <path transform="scale(0.75)" d="m408 184h-136c-4.417969 0-8-3.582031-8-8v-136c0-22.089844-17.910156-40-40-40s-40 17.910156-40 40v136c0 4.417969-3.582031 8-8 8h-136c-22.089844 0-40 17.910156-40 40s17.910156 40 40 40h136c4.417969 0 8 3.582031 8 8v136c0 22.089844 17.910156 40 40 40s40-17.910156 40-40v-136c0-4.417969 3.582031-8 8-8h136c22.089844 0 40-17.910156 40-40s-17.910156-40-40-40zm0 0"/>
    </g>
</svg>