<svg height="512pt" viewBox="0 0 512 512" width="512pt" xmlns="http://www.w3.org/2000/svg">
    <path d="m512 256c0 141.386719-114.613281 256-256 256s-256-114.613281-256-256 114.613281-256 256-256 256 114.613281 256 256zm0 0" fill="#7DD2F0"/>
    <path style="opacity: 0.1;" d="M57.825,256c0-131.607,99.318-240.001,227.088-254.365 C275.42,0.568,265.777,0,256,0C114.615,0,0,114.615,0,256s114.615,256,256,256c9.777,0,19.42-0.568,28.912-1.635 C157.143,496.001,57.825,387.607,57.825,256z"/>
    <g fill="#ffffff" transform="scale(0.6,0.6)">
        <g fill="#ffffff" transform="translate(190,210)">
            <path d="m0 161.550781v227.578125c0 20.976563 17.039062 37.984375 38.0625 37.984375h435.878906c21.019532 0 38.058594-17.007812 38.058594-37.984375v-227.578125zm0 0"/>
            <path d="m39.917969 131.355469c.742187-.417969 198.105469-70.929688 198.105469-70.929688h-95.878907v-32.207031c0-15.585938-12.65625-28.21875-28.273437-28.21875h-85.597656c-15.613282 0-28.273438 12.636719-28.273438 28.21875v103.136719zm0 0"/>
            <path d="m473.941406 60.429688h-22.738281l25.304687 70.929687h35.492188v-32.945313c0-20.980468-17.039062-37.984374-38.058594-37.984374zm0 0"/>
            <path d="m444.449219 131.355469s-30.449219-84.390625-31.679688-86.023438c-1.960937-2.601562-4.527343-4.714843-7.550781-6.148437-4.929688-2.335938-10.472656-2.613282-15.609375-.78125l-260.542969 92.953125zm0 0"/>
        </g>
    </g>
</svg>