﻿<svg height="512pt" viewBox="0 0 512 512" width="512pt" xmlns="http://www.w3.org/2000/svg">
    <path d="m512 256c0 141.386719-114.613281 256-256 256s-256-114.613281-256-256 114.613281-256 256-256 256 114.613281 256 256zm0 0" fill="#7DD2F0"/>
    <path d="m356.414062 313.75-85.332031 85.332031c-8.339843 8.34375-21.824219 8.34375-30.164062 0l-85.332031-85.332031c-6.101563-6.101562-7.9375-15.273438-4.632813-23.253906 3.308594-7.957032 11.09375-13.164063 19.714844-13.164063h64v-149.332031c0-11.777344 9.554687-21.332031 21.332031-21.332031s21.332031 9.554687 21.332031 21.332031v149.332031h64c8.621094 0 16.40625 5.207031 19.714844 13.164063 3.304687 7.980468 1.46875 17.152344-4.632813 23.253906zm0 0" fill="#fafafa"/>
    <path style="opacity: 0.1;" d="M57.825,256c0-131.607,99.318-240.001,227.088-254.365 C275.42,0.568,265.777,0,256,0C114.615,0,0,114.615,0,256s114.615,256,256,256c9.777,0,19.42-0.568,28.912-1.635 C157.143,496.001,57.825,387.607,57.825,256z"/>
</svg>