﻿<svg viewBox="0 0 456 456">
    <path style="fill: #E24C4B;" d="M67.2,67.2c-89.6,89.6-89.6,233.244,0,321.422c88.178,88.178,233.244,89.6,321.422,0 c88.178-88.178,88.178-233.244,0-321.422C300.444-22.4,155.378-22.4,67.2,67.2z"/>
    <path style="opacity: 0.1;" d="M57.825,256c0-131.607,99.318-240.001,227.088-254.365 C275.42,0.568,265.777,0,256,0C114.615,0,0,114.615,0,256s114.615,256,256,256c9.777,0,19.42-0.568,28.912-1.635 C157.143,496.001,57.825,387.607,57.825,256z"/>
    <path style="fill: #FFFFFF;" d="M345.956,227.911c0,17.067-14.222,31.289-31.289,31.289H141.156 c-17.067,0-31.289-14.222-31.289-31.289s14.222-31.289,31.289-31.289h172.089C331.733,196.622,345.956,210.844,345.956,227.911z"/>
</svg>