﻿<svg viewBox="0 0 512 512">
    <path d="m512 256c0 141.386719-114.613281 256-256 256s-256-114.613281-256-256 114.613281-256 256-256 256 114.613281 256 256zm0 0" fill="#7DD2F0"/>
    <path style="opacity: 0.1;" d="M57.825,256c0-131.607,99.318-240.001,227.088-254.365 C275.42,0.568,265.777,0,256,0C114.615,0,0,114.615,0,256s114.615,256,256,256c9.777,0,19.42-0.568,28.912-1.635 C157.143,496.001,57.825,387.607,57.825,256z"/>
    <g transform="scale(0.65)">
        <g transform="translate(160,160)" fill="#FFF">
            <path d="M431.12,41.977c0-2.475-0.955-4.661-2.857-6.567L395.711,2.861c-1.902-1.906-4.086-2.856-6.563-2.856
			    s-4.661,0.953-6.563,2.856L287.786,97.65l-41.104-41.112c-3.613-3.617-7.905-5.426-12.854-5.426
			    c-4.945,0-9.227,1.809-12.847,5.426c-3.614,3.616-5.422,7.898-5.422,12.847v127.906c0,4.952,1.808,9.233,5.422,12.851
			    c3.62,3.615,7.901,5.424,12.847,5.424h127.906c4.949,0,9.24-1.809,12.854-5.424c3.613-3.617,5.427-7.898,5.427-12.851
			    c0-4.948-1.813-9.231-5.427-12.847l-41.114-41.114l94.794-94.787C430.165,46.641,431.12,44.451,431.12,41.977z"/>
            <path d="M197.286,215.569H69.379c-4.948,0-9.231,1.809-12.847,5.426c-3.617,3.613-5.426,7.901-5.426,12.847
			    c0,4.948,1.809,9.232,5.426,12.847l41.112,41.113L2.857,382.589C0.949,384.492,0,386.683,0,389.153
			    c0,2.478,0.949,4.667,2.857,6.57L35.4,428.269c1.906,1.902,4.093,2.847,6.567,2.847s4.665-0.944,6.567-2.847l94.789-94.791
			    l41.112,41.11c3.615,3.614,7.898,5.428,12.847,5.428c4.952,0,9.233-1.813,12.85-5.428c3.616-3.61,5.424-7.898,5.424-12.847
			    V233.835c0-4.949-1.809-9.233-5.421-12.84C206.519,217.378,202.237,215.569,197.286,215.569z"/>
        </g>
    </g>
</svg>