﻿<svg viewBox="0 0 512 512">
    <path d="m512 256c0 141.386719-114.613281 256-256 256s-256-114.613281-256-256 114.613281-256 256-256 256 114.613281 256 256zm0 0" fill="#7DD2F0"/>
    <path style="opacity: 0.1;" d="M57.825,256c0-131.607,99.318-240.001,227.088-254.365 C275.42,0.568,265.777,0,256,0C114.615,0,0,114.615,0,256s114.615,256,256,256c9.777,0,19.42-0.568,28.912-1.635 C157.143,496.001,57.825,387.607,57.825,256z"/>
    <path style="fill: #D4A160;" d="M127.182,382.868c-4.647,4.636-16.501,0.318-26.477-9.665l0,0 c-9.991-9.983-14.308-21.841-9.669-26.477l105.626-105.637c4.647-4.636,16.501-0.311,26.484,9.672l0,0 c9.983,9.964,14.316,21.822,9.661,26.484L127.182,382.868z"/>
    <path style="fill: #EBEDEF;" d="M201.909,120.545c-41.833,41.822-41.833,109.637,0,151.451 c41.833,41.833,109.63,41.833,151.455,0.011c41.825-41.825,41.825-109.641,0-151.463C311.539,78.715,243.738,78.715,201.909,120.545 z M334.274,252.913c-31.27,31.277-81.989,31.285-113.274,0c-31.285-31.274-31.285-82.004,0-113.274 c31.285-31.285,82.004-31.285,113.274-0.007C365.566,170.916,365.551,221.636,334.274,252.913z"/>
    <path style="opacity: 0.7; fill: #FFFFFF;" d="M224.629,185.793c-2.002,4.37-0.101,9.575,4.269,11.584 c4.385,2.043,9.59,0.097,11.599-4.254c0,0,0.086-0.202,0.513-0.969c3.027-5.545,17.627-29.088,48.504-31.962 c3.742-0.367,6.694-3.027,7.607-6.466c0.247-0.969,0.352-1.998,0.247-3.072c-0.483-4.797-4.737-8.333-9.538-7.85 C242.316,147.489,225.074,184.91,224.629,185.793z"/>
</svg>