﻿<svg viewBox="0 0 512 512">
    <path d="m512 256c0 141.386719-114.613281 256-256 256s-256-114.613281-256-256 114.613281-256 256-256 256 114.613281 256 256zm0 0" fill="#7DD2F0"/>
    <path style="opacity: 0.1;" d="M57.825,256c0-131.607,99.318-240.001,227.088-254.365 C275.42,0.568,265.777,0,256,0C114.615,0,0,114.615,0,256s114.615,256,256,256c9.777,0,19.42-0.568,28.912-1.635 C157.143,496.001,57.825,387.607,57.825,256z"/>
    <g fill="#ffffff">
        <path d="m121 331h60v60h30v-90h-90zm0 0"/>
        <path d="m181 181h-60v30h90v-90h-30zm0 0"/>
        <path d="m331 121h-30v90h90v-30h-60zm0 0"/>
        <path d="m301 391h30v-60h60v-30h-90zm0 0"/>
    </g>
</svg>