<svg viewBox="0 0 512 512">
    <path d="m512 256c0 141.386719-114.613281 256-256 256s-256-114.613281-256-256 114.613281-256 256-256 256 114.613281 256 256zm0 0" fill="#7DD2F0"/>
    <path style="opacity: 0.1;" d="M57.825,256c0-131.607,99.318-240.001,227.088-254.365 C275.42,0.568,265.777,0,256,0C114.615,0,0,114.615,0,256s114.615,256,256,256c9.777,0,19.42-0.568,28.912-1.635 C157.143,496.001,57.825,387.607,57.825,256z"/>
    <g style="fill: #FFFFFF;" transform="scale(0.65,0.65)">
        <g transform="translate(135,125)">
            <path d="m331 356.751 133.25-87.857-133.25-87.857zm30-120 48.75 32.143-48.75 32.143z"/>
            <path d="m258.857 102.772c-4.819-2.322-74.558-58.878-183.857-58.878h-15v50.789c-31.82 4.739-53.099 10.908-60 12.499v360.923c10.491-1.418 115.881-38.778 252.362-4.66l3.638.91 3.638-.91c136.637-34.159 241.824 3.235 252.362 4.66v-360.923c-6.95-.924-115.604-36.868-253.143-4.41zm-228.857 327.283v-299.301c9.922-2.223 19.947-4.134 30-5.727v278.867h15c32.339 0 64.742 5.675 95.207 16.398-46.879-3.165-94.164.084-140.207 9.763zm211-8.989c-44.906-27.861-97.703-44.208-151-46.806v-299.962c90.301 4.857 146.383 50.327 151 52.624zm241 8.989c-69.395-14.588-141.607-14.588-211 0v-299.301c69.271-15.524 141.728-15.524 211 0z"/>
        </g>
    </g>
</svg>