﻿<svg viewBox="0 0 512 512">
    <path d="M430.36,68.897C383.063,24.7,320.74,0.124,256.006,0.143C191.272,0.124,128.949,24.7,81.652,68.897l90.697,90.606 c47.934-41.813,119.38-41.813,167.314,0L430.36,68.897z" />
    <path d="M128.006,256.143c-0.009-30.761,11.133-60.482,31.36-83.657L68.76,81.789C0.391,155.067-18.879,261.526,19.466,354.12 c38.345,92.595,127.238,154.261,227.397,157.749V383.686C179.97,378.83,128.14,323.212,128.006,256.143z" />
    <path d="M443.252,81.789l-90.606,90.697c31.798,36.544,40.178,87.935,21.637,132.688s-60.809,75.161-109.134,78.512v128.183 c100.159-3.488,189.052-65.154,227.397-157.749S511.621,155.067,443.252,81.789z" />
</svg>